@using SitefinityWebApp.Mvc.Helpers

<link href="~/Mvc/Content/widgets/shared/css/style.css" rel="stylesheet" />
<script src="~/Mvc/Content/widgets/shared/js/helper.js"></script>
<script src="~/Mvc/Content/widgets/shared/js/headerCtrl.js"></script>

<div >

    <div class="container" ng-controller="headerCtrl">
        <div class="topbar">
            <label>Attend A free <span>seminars Today!</span></label>
            <div class="topbtn">
                <a href="~/sign-up"><img src="~/Content/assets/images/icn_bariatics.png" alt="">My Health Rec</a>
                <a href="~/sign-up"><img src="~/Content/assets/images/icn_register.png" alt="">Register</a>
                <div class="dropdown3">
                    <i class="fa fa-uaer"></i>
                    <a class="dropbtn">
                        @if (UserContext.IsAuthenticated)
                        {
                            <span>My Account</span>
                        }
                        else
                        {
                            <span>Login</span>
                        }
                    </a>
                    <ul class="dropdown-content hidden" id="dropdiv">

                        @if (UserContext.IsAuthenticated)
                        {

                            <li><a ng-click="logout()">Logout</a></li>
                            if (Convert.ToString(Session["IsCareGiver"]) == "0" || string.IsNullOrEmpty(Convert.ToString(Session["IsCareGiver"])))
                            {
                                <li><a href="../Account/UserProfile">My Account</a></li>
                                <li><a href="../Account/MyCareGivers">My Caregivers</a></li>
                            }
                            else
                            {
                                <li><a href="../Account/CareGiverProfile">My Account</a></li>
                                <li><a href="../Account/MyPatientProfile">My Patients</a></li>
                            }
                            <li><a href="../Account/Settings">Change Password</a></li>

                        }
                        else
                        {
                            <li>
                                <form class="login-form" name="loginForm" >
                                    <div class="login-div text-center" id="logdiv">
                                        <div class="" ng-show="person.error" id="diverror" style="display: none; font-size: 11px; color: rgb(225, 62, 62); margin-bottom: 5px;">
                                            <span ng-bind-html="person.MessageError"></span>
                                        </div>
                                        <div class="profile-pic">
                                            <i class="fa fa-user"></i>
                                        </div>

                                        <input type="text" class="form-control" style="height: 30px; margin-bottom: 10px; font-size: 12px;" ng-model="person.email" placeholder="Email" />
                                        <input type="password" class="form-control" style="height: 30px; margin-bottom: 10px; font-size: 12px;" ng-model="person.password" placeholder="Password" />

                                        <input type="button" class="btn btn-block btn-primary" name="login" id="loginbtn1" value="Login" ng-click="login()"/>
                                    </div>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <a href="~/" class="logo"><img src="~/Content/assets/images/logo.png" alt=""></a>
        <div class="info">
            <p>
                <span class="phone">(215) 762-7000</span><br class="visible-xs">
                &nbsp;| &nbsp;<span class="add">230 N Broad St Philadelphia, PA 19102</span>
            </p>
            <div class="input-group hidden-xs">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><img src="~/Content/assets/images/icn_search.png" alt=""></button>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="input-group visible-xs">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><img src="~/Content/assets/images/icn_search.png" alt=""></button>
                        </span>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="@Html.IsSelected("sign-in,welcome")"><a href="~/">Home</a></li>
                        <li class="@Html.IsSelected("health-library")"><a href="~/health-library">Health Library</a></li>
                        <li class="@Html.IsSelected("community")"><a href="~/community">Community</a></li>
                        <li class="@Html.IsSelected("virtual-visit")"><a href="~/virtual-visit">Virtual Visit</a></li>
                        <li class="@Html.IsSelected("success-stories")"><a href="~/success-stories">Success Stories</a></li>
                        <li class="@Html.IsSelected("about-us")"><a href="~/about-us">About Us</a></li>
                        <li class="@Html.IsSelected("contact-physician")"><a href="~/contact-physician">Contact Physician</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div>@RenderBody()</div>

    <div class="gallery">
        <h1 class="text-center">Surgical <span>Weight Loss</span> Gallery</h1>
        <img src="~/Content/assets/images/section_bg.png" alt="">
    </div>

    <div class="sep col-sm-12"></div>

    <div class="container-fluid">
        <h1 class="text-center">Join a <span>Community and </span> Stay <span>Connected</span></h1>
        <p class="centerpara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <div class="socialmedia">
            <div class="col-xs-4">
                <a href="#">
                    <span> <img src="~/Content/assets/images/icn_facebook.png" alt=""> </span>
                    <label>Link us on facebook</label>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    <span> <img src="~/Content/assets/images/icn_youtube.png" alt=""> </span>
                    <label>Watch us on You Tube</label>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    <span> <img src="~/Content/assets/images/icn_twitter.png" alt=""> </span>
                    <label>Connect on Twitter</label>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="bluesep"></div>
        <div class="ftr ">
            <div class="footermenus">
                <div class="col-sm-2">
                    <span>Our Services</span>
                    <ul>
                        <li><a href="#">Find A Phsiciyn</a></li>
                        <li><a href="#">Bariatrics</a></li>
                        <li><a href="#">Behaviour health Services</a></li>
                        <li><a href="#">Bloodless Medicine and Sergery</a></li>
                        <li><a href="#">Cancer Care</a></li>
                        <li><a href="#">Dermatology</a></li>
                        <li><a href="#">Emergency & Truma</a></li>
                        <li><a href="#">Heart & Vasclar Care</a></li>
                        <li><a href="#">Imaging & Radiology</a></li>
                        <li><a href="#">Neurological Services</a></li>
                        <li><a href="#">Orthopaedics</a></li>
                        <li><a href="#">Pain Management</a></li>
                        <li><a href="#">Plastic, Cosmetic and Hand Surgery</a></li>
                        <li><a href="#">Primary Care</a></li>
                        <li><a href="#">Transplant Servces</a></li>
                        <li><a href="#">Urology</a></li>
                        <li><a href="#">Womens Health</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <span>Our Location</span>
                    <ul>
                        <li><a href="#">Hahmann University 	Hospital</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <span>Our Stories</span>
                    <ul>
                        <li><a href="#">Devon's Story</a></li>
                        <li><a href="#">Ivy's Story</a></li>
                        <li><a href="#">Scott and Dwight: A transplant Story</a></li>
                        <li><a href="#">Share Your Story</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <span>For Patients</span>
                    <ul>
                        <li><a href="#">health Risk Assesments</a></li>
                        <li><a href="#">Insurance and Financial Support</a></li>
                        <li><a href="#">Legal and Ethical Decisions</a></li>
                        <li><a href="#">Maps & Directions</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Online Bill Pay</a></li>
                        <li><a href="#">Patient Portal</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Request Madical Records</a></li>
                        <li><a href="#">Share Your Story</a></li>
                        <li><a href="#">Staff Recognition</a></li>
                        <li><a href="#">Support Groups</a></li>
                        <li><a href="#">What to Bring/What not to Bring</a></li>
                        <li><a href="#">What to Export</a></li>
                        <li><a href="#">Your Patient Rights</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <span>For Family & Visitors</span>
                    <ul>
                        <li><a href="#">Gifts & Support</a></li>
                        <li><a href="#">Maps & Directions</a></li>
                        <li><a href="#">Nearby Hotels & Restaurants</a></li>
                        <li><a href="#">Share Your Story</a></li>
                        <li><a href="#">Staff Recognition</a></li>
                        <li><a href="#">Visitation Rights</a></li>
                        <li><a href="#">What to Bring/What not to Bring</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <span>For Health Professional</span>
                    <ul>
                        <li><a href="#">Education & Trainning</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Physical Portal</a></li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <div class="pull-left"> <a href="#">Disclaimers</a>&nbsp; | &nbsp;<a href="#">Sitemap</a> <span>&copy; Hahnemann University Hospital 2016, All rights Reserved</span> </div>
                <div class="pull-right">
                    <p>
                        <span class="phone">(215) 762-7000</span> <span class="add">
                            230 N Broad St<br>
                            Philadelphia, PA 19102
                        </span>
                    </p>
                    <a href="#"><img src="~/Content/assets/images/footer_logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

</div>